<h1>Raspberry Pi</h1>

<p>
Led UP : <a href="/up"> here </a> <br />
Led DOWN : <a href="/down"> here </a>
</p> 

<p>Message : <br /> <br />
	<% contenu.forEach(function(line) { %>
	<%= line %> <br />
	<% }); %>
</p>
